html
    include includes/head.pug
    body
        script(src="../scripts/index.js" type="module")
        #control-panel
            include includes/curve-resolution.pug
            include includes/point-management.pug
            include includes/colour-panel.pug
            include includes/sizes-panel.pug
            include includes/display-order.pug