.panel.size-panel
    p Colours
    .cluster
        input#col-bg(type="color")
        p Background
    .cluster
        input#col-handle(type="color")
        p Handles
    .cluster
        input#col-control-line(type="color")
        p Control Lines
    .cluster
        input#col-curve(type="color")
        p Curve