head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width")
    title Bézier Curves
    link(rel="icon" type="image/x-icon" href="../assets/curve.png")
    include ./meta.pug
    style
        include ../../styles/style.css