meta(property="og:title" content="Bézier Curve Playground")
meta(property="og:type" content="website")
meta(property="og:description" content="An interactive web playground for creating and editing Bézier Curves")
meta(property="og:image" content="../assets/curve-social-header.png")
meta(property="og:url" content="https://curve.malted.dev")

meta(name="twitter:title" content="Bézier Curve Playground")
meta(name="twitter:description" content="An interactive web playground for creating and editing Bézier Curves")
meta(name="twitter:image" content="../assets/curve-social-header.png")
meta(name="twitter:card" content="summary_large_image")